* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Comic Sans MS";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-logo {
  width: 75px;
  margin-top: 10px;
  float: left;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.6);
  position :fixed;
  top: 0;
  z-index: 10;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url("https://i.kym-cdn.com/entries/icons/original/000/018/012/this_is_fine.jpeg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 200px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  animation-name: icananimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes icananimation {
  0% {color: white;}
  25% {color: green;}
  50% {color: red;}
  75% {color: yellow;}
  100% {color: white;}
}

.top-wrapper h2 {
  font-size: 30px;
  opacity: 0.8;
  margin-bottom: 1px;
}

.top-wrapper p {
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 1px;
}

.button-main {
  text-align: center;
  margin: 50px 0;
  color: white;
}

.button-main p {
  margin: 10px;
  font-size: 10px;
}

.button-pat {
  background-color: #239b76;
  padding: 12px 100px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.button-pat:hover {
  opacity: 1;
}

.story-wrapper {
  height: 2500px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-bottom: 10px solid grey;
  border-top: 10px solid grey;
  padding-bottom: 80px;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
}

.story {
  float: left;
  width: 100%;
}

.story-icon {
  position: relative;
}

.story-icon img {
  width: 50%;
  height: auto;
}

.story-contents {
  width: 70%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 15px;
  color: white;
}

.email , .textarea , .submit {
  width: 400px;
  height: auto;
  padding: 20px;
  border: 2px solid grey;
  margin-top: 12px;
  margin-bottom: 40px;
}

.message-wrapper {
  margin: 100px 80px;
}

.message-wrapper h3 {
  font-size: 15px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.submit {
  color: #889eab;
  background-color: #dee7ec;
  font-size: 18px;
}

footer img {
  width: 10%;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
